<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>i-Asigurare</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Default.png</string>
		<string>Default@2x.png</string>
		<string>logo.png</string>
		<string>logo@2x.png</string>
		<string>logo-72.png</string>
		<string>logo-72@2x.png</string>
		<string>logo-76.png</string>
		<string>logo-76@2x.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>logo80</string>
				<string>logo12</string>
				<string>logo58</string>
				<string>logo120</string>
				<string>logo</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>logo58</string>
				<string>logo80</string>
				<string>logo-76</string>
				<string>logo-72</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>ro.apps.i-tom.i-asigurare</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>i-Asigurare</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>iasigurare</string>
				<string></string>
				<string>fb437288059690040</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>ro.i-asigurare</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.3.2</string>
	<key>FacebookAppID</key>
	<string>437288059690040</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
